Package: com.popsicletreehouse.byebackgroundbreadcrumbs
Name: ByeBackgroundBreadcrumbs
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkapplist
Version: 2.0
Architecture: iphoneos-arm
Description: Remove breadcrumbs if the app is not running
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
